// BEM naming conventions
// - http://getbem.com/naming/
// - https://en.bem.info/methodology/naming-convention/

// Variables for the component
$border-radius: 8px;
$border-bottom-radius: $border-radius - 4px;

basic-card {
  // <article> element
  .basic-card__article {
    margin: 0.5rem;

    border-style: solid;
    border-width: 1px;

    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;

    border-bottom-left-radius: $border-bottom-radius;
    border-bottom-right-radius: $border-bottom-radius;

    box-shadow: 0px 0px 8px 3px rgba(84, 84, 84, 0.20);

    min-width: 18rem;
    max-width: 24rem;

    // Adjust styles for larger screens
    @media screen and (min-width: 30em) {
      & {
        max-width: 32rem;
      }
    }
  }
  
  // Card title bar
  // <h1> element
  .basic-card__title {
    margin-top: 0;
    margin-bottom: 0;

    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;

    padding: .8rem 1rem .5rem;

    font-family: Courier New, Courier, monospace;
    font-size: 1.25rem;

    background-color: #333;
    color: #fff;

    box-shadow: inset 0px 3px 6px 0px rgba(200, 200, 200, 0.20);
  }

  // Card main content area
  // <div> element
  .basic-card__content {
    border-top-style: solid;
    border-top-width: 1px;

    border-bottom-left-radius: $border-bottom-radius;
    border-bottom-right-radius: $border-bottom-radius;

    padding: 1rem;

    font-size: 1rem;
    line-height: 1.4;

    background-color: #fff;
    color: #111;

    box-shadow: inset 0px 0px 5px 0px rgba(84, 84, 84, 0.20);
  }

  // Card main content area
  // <div> element
  .basic-card__location {
    margin-top: 1em;
    border-top: solid 4px #fcc;
    padding: 0.3em;
  }

  // Card main content area
  // <div> element
  .basic-card__date {
    border-top: solid 3px #eee;
    padding: 0.3em;
  }

}


